<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <head th:fragment="head">
    <title>Recetas de Cocina</title> 
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/cutlery-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/cutlery-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/fav/cutlery-96x96.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/fav/cutlery-256x256.png">
    </head>
    
    <body>
        <div>TODO write content</div>
    </body>
</html>
